# Telegram API (required)
API_ID=26082913
API_HASH=09ca430a1b8400d299941cb0f9835fa2
BOT_TOKEN=1234567890:8408945936:AAH1V_RXnaAySm2A3NBzJAFxilHA3lAjwv8

# MongoDB (required)
MONGO_URI=mongodb+srv://nimsara:nimsara@cluster0.ag5ovt5.mongodb.net/?appName=Cluster0
DATABASE_NAME=telegram_media_bot

# Admins (your Telegram numeric user ID)
ADMINS=7029204818

# Groups where users are allowed to search
# Example: -1001111111111,-1002222222222
USER_GROUP_IDS=-1003904486551

# Movie upload source channels
MOVIE_SOURCE_CHANNELS=-1003861083412

# TV series upload source channels
SERIES_SOURCE_CHANNELS=-1003995128973

# Optional: pretty series info card channel
SERIES_INFO_CHANNEL_ID=-1003992583202

# Optional: bot log channel/group
LOG_CHAT_ID=-1003807389294

# Optional: set manually or leave blank and bot auto-detects it
BOT_USERNAME=senulkbot

# Metadata / poster APIs
TMDB_API_KEY=af43e0289f758ede6ae31d20cc541776
TMDB_BEARER_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhZjQzZTAyODlmNzU4ZWRlNmFlMzFkMjBjYzU0MTc3NiIsIm5iZiI6MTc3NjI4MzM0OS43ODEsInN1YiI6IjY5ZGZlZWQ1ODYzNDQwMzE2YWI3ZmFiNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.NCDnXDp-soQThlWIbYKzZGnT-qlXEhIYC0thDzXnhhk
OMDB_API_KEY=c34ad57

# Search settings
MAX_SEARCH_RESULTS=8
RESULT_PAGE_SIZE=10
